@use 'variables';

.setting-bar {
    height: variables.$toolbar-height;
    background: white;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    box-shadow: variables.$shadow;
    top: variables.$toolbar-height;
}
